/* 

CSS for Debt Payment Calculator

*/
header {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #f0f0f0;
}
footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #e0e0e0;
	color: #777;
}

.message {
	padding: 30px;
	font-size: 20px;
	text-align: center;
}

.summary, .monthly-payments {
	display: none;
}

.accounts {
}
.accounts-info {
}
.add-account {
}
.summary {
}
.payment-summary span {
	color: #1C98F1;
	font-weight: normal;
	font-size: 16px;
}
.payments-table {

}
.payments-table th {
	background: #333;
	color: #fff;
	font-weight: normal;
}

.payments-table .fa-arrow-down {
	color: green;
}
.payments-table .fa-arrow-up {
	color: red;
}
