<!DOCTYPE html >
<html ng-app="app">
<head>

	<title>Debt Payment Calculator</title>
	<meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" >

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="components/sidebar/sidebarController.js"></script>

</head>

<body>

	<div id="main" ng-controller="mainController as $ctrl">

		<sidebar data-monthly-payment="$ctrl.monthlyPayment" data-test="$ctrl.test"></sidebar>

		<div class="content col-md-9 col-md-offset-3">

			<p>Results: {{$scope.resultsService.data}}</p>
			<div class="message" ng-bind="message"></div>

			<div class="accounts">

				<h3>Your Accounts <button class="btn btn-sm btn-info" id="add-account" data-toggle="modal" data-target="#addAccountModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Account</button></h3>

				<div class="accounts-info">

					<table class="table table-condensed table-striped" ng-cloak>
						<tr>
							<th width="80%">Name</th>
							<th width="20%" align="right">Balance (APR)</th>
						</tr>
						<tr ng-repeat="a in accounts track by $index">
							<td>{{ a.name }}</td>
							<td align="right">${{ a.balance | currency:'' }} ({{ a.apr }}%)</td>
						</tr>
					</table>

					<p class='no-accounts'>No accounts added.</p>

				</div>


				<!-- Add Account Modal -->
				<div id="addAccountModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title text-center">Add a New Account</h4>
				      </div>
				      <div class="modal-body">
				        <form class="add-account form-horizontal" ng-submit="addAccount($event)">
							<div class="form-group">
								<label class="col-sm-3 control-label">Account Name </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" required name="accountName" ng-model="newAccount.name" placeholder="Account Name" tabindex="2">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Balance </label>
								<div class="col-sm-9">
									<input type="text" class="form-control text-right" required name="accountBalance" tabindex="3" ng-keydown="inputDecimal($event, 2)" autofocus tabindex="1" maxlength="13" value="0.00">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">APR </label>
								<div class="col-sm-9">
									<input type="text" class="form-control text-right" required name="accountApr" tabindex="4" ng-keydown="inputDecimal($event, 2)" autofocus tabindex="1" value="0.00" maxlength="3">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<input type="submit" class="btn btn-info col-xs-12" value="Add Account" >
								</div>
							</div>
						</form>
				      </div>
				    </div>

				  </div>
				</div>


			</div>

			<div class="summary">

				<div class="row">

					<div class="col-md-6 payment-summary">

						<h3>Summary</h3>

						<p>If you pay off the account with the highest interest rate first, while making the minimum payment on all other accounts, you will pay off all accounts on <span>{{dateZeroDebt}}</span>.</p>

						<p>If you follow this plan, you will be debt-free in <span>{{timeToZeroDebt}}</span>.</p>

					</div>

					<div class="col-md-6 payment-stats">

						<h3>Payment Stats</h3>

						<table class="table">
							<tr>
								<td width="60%">Amount paid each month</td>
								<td width="40%" align="right">${{monthlyPayment}}</td>
							</tr>
							<tr>
								<td>All accounts paid on</td>
								<td align="right">{{dateZeroDebt}}</td>
							</tr>
							<tr>
								<td>Time to pay off all accounts</td>
								<td align="right">{{timeToZeroDebt}}</td>
							</tr>
							<tr>
								<td>Total amount paid</td>
								<td align="right">${{totalPayments | number:2}}</td>
							</tr>
							<tr>
								<td>Total interest paid</td>
								<td align="right">${{totalInterest | number:2}}</td>
							</tr>
						</table>
					</div>
				</div>

			</div><!-- end .summary -->

		</div><!-- end .content -->

	</div><!-- End #main -->



</body>
</html>
